<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99314661497-hoie7g420816a0vejqf1durufblmctc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99314661497-hoie7g420816a0vejqf1durufblmctc4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>99314661497-k5h9rghgrl62d0demrpl84llaau9ld9j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhLRuYNHxlVAxOSB6QAH4qefSkfI7Ts_0</string>
	<key>GCM_SENDER_ID</key>
	<string>99314661497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.EnQ</string>
	<key>PROJECT_ID</key>
	<string>enq-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>enq-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99314661497:ios:3dee74012730b50dd1fca8</string>
	<key>DATABASE_URL</key>
	<string>https://enq-mobile.firebaseio.com</string>
</dict>
</plist>